* {
    padding: auto;
    margin: 0 auto;
    font-family: 'NomeDaFonte', sans-serif;
}
/* Controla a largura do scroll */
::-webkit-scrollbar {
    width: 8px; /* Ajuste a largura conforme necess痙io */
  }

  /* Controla o estilo da parte do scroll que pode ser arrastada */
  ::-webkit-scrollbar-thumb {
    background-color: #1e2a47; /* Azul escuro */
    border-radius: 10px; /* Arredonda as bordas do scroll */
  }

  /* Controla o estilo da trilha do scroll (痙ea de fundo) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo do track */
    border-radius: 10px;
  }


body {
    font-size: 14pt;
    overflow-x: hidden;
}

/* Tipografia para h1 a h6 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;  /* Fonte moderna e profissional */
    font-weight: 700;  /* Negrito para destacar os t칤tulos */
    color: #333333;  /* Um cinza escuro para um toque mais sofisticado */
    letter-spacing: -0.5px;  /* Leve ajuste de espa칞amento entre letras para um toque mais elegante */
    line-height: 1.2;  /* Ajuste no espa칞amento entre linhas para uma leitura mais fluida */
    transition: color 0.3s ease, transform 0.3s ease;  /* Transi칞칚o suave para a cor e transforma칞칚o */
}

/* Estilo para o h1 com destaque */
h1 {
    font-size: 2.5rem;  /* Tamanho grande para destaque */
}

/* Estilo para h2 */
h2 {
    font-size: 2rem;
}

/* Estilo para h3 */
h3 {
    font-size: 1.75rem;
}

/* Estilo para h4 */
h4 {
    font-size: 1.5rem;
}

/* Estilo para h5 */
h5 {
    font-size: 1.25rem;
}

/* Estilo para h6 */
h6 {
    font-size: 1.1rem;
}

/* Hover para todos os h1 a h6 */
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #e74c3c;  /* Cor vermelha vibrante no hover */
    transform: translateY(-3px);  /* Efeito de eleva칞칚o suave */
}

/* Adicionando um efeito sutil de sombra ao passar o mouse */
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);  /* Sombra suave para um toque 3D */
}

section{
    padding: 20px;

}

.banner{
    background:url('/arquivos/banner/2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #ffffff;

    margin-bottom: 0;
}

.banner-form{
    background-color: #ffffff;
    color: #000000;
    margin-top: 15%;
}
.banner-title {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    color: #f6f6f6;  /* Cor base do texto */
    transition: all 0.3s ease;  /* Transi칞칚o suave para todos os efeitos */
}

.banner-title:hover {
    color: #fff;  /* Cor clara no hover */
    transform: translateY(-3px);  /* Efeito de eleva칞칚o suave */
    text-shadow: 0 2px 5px rgb(255, 255, 255);  /* Efeito de brilho sutil */
}

.banner-text{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
}

.top-bar {
    background-color: #1a1a1a;
    color: white;
    font-size: 14px;
    padding: 8px 0;
}


  .pipe {
    color: white;
    font-weight: bold;
  }


#vm-destaque-one{
    background-color: #00345e;
    margin-top: -26px;
}
i{
    color: white;
}
/* Alinha a marca (Navbar)  esquerda, mesmo em dispositivos m칩veis */
.navbar-brand {
    margin-left: 0 !important;
    margin-left: 15% !important;
}

/* Remove o campo de pesquisa */
.form-inline {
    display: none;
}

/* Altera a cor do bot칚o para vermelho */
.btn-outline-success {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
}

.btn-outline-success:hover {
    background-color: darkred !important;
    border-color: darkred !important;
}

/* Estilo para h2 e h3 com gradiente e efeitos */
.missao-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    background: linear-gradient(45deg, #ff6a00, #ff3f34, #ff7f50);
    background-clip: text;
    color: transparent;
    transition: background 0.3s ease;
}

.missao-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    background: linear-gradient(45deg, #000f1c, #4050ff);
    background-clip: text;
    color: transparent;
    transition: background 0.3s ease, transform 0.3s ease;
}

.missao-title:hover {
    transform: scale(1.1);  /* Efeito de aumentar o t칤tulo no hover */
}

/* Cards otimizados com sombra suave e anima칞칚o */
.missao-card {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 20px;
    width: 400px;
    font-weight: bold;
    color: #333333;
}

.missao-card:hover {
    transform: translateY(-5px);  /* Efeito de eleva칞칚o do card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);  /* Sombra mais intensa no hover */
}

.missao-icon {
    font-size: 2.5rem;
    transition: transform 0.3s ease;
}

.missao-icon:hover {
    transform: scale(1.2);  /* Efeito de amplia칞칚o do 칤cone */
}


.missao-header {
    background: linear-gradient(45deg, #ff6a00, #ff3f34, #ff7f50);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s ease infinite;
}

/* Anima칞칚o do gradiente */
@keyframes gradient {
    0% {
        background-position: 200% 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 200% 0;
    }
}

/* Estilo para o curso */
.price{

    font-weight: bold !important;
}

.curso-card {
    position: relative;
    transition: transform 0.3s ease;
}

.curso-card:hover {
    transform: scale(1.05);
}

.curso-card:hover::after {
    content: "Melhor somente hoje!";
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.curso-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.curso-card .ratings {
    display: flex;
}

.curso-card .students {
    font-size: 0.875rem;
    color: #6c757d;
}

.curso-card .price {
    font-size: 1.125rem;
    font-weight: 600;
}

.curso-card .badge {
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
}
btn-primary{
    border-radius: 0% !important;
}
/* Estilo para o curso */


.cursor-gradient {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    width: 20px;
    height: 20px;
    transition: background 0.3s ease;
    background: linear-gradient(45deg, #ff0400, #ff3f34, #ff5350);
    background-size: 200% 200%;
}


/* Estilo para o t칤tulo */
.depoimentos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff4c4c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo para os depoimentos */
.depoimento-text {
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;
    color: #fff;
    padding: 15px;
}

/* Estilo para as estrelas */
.stars {
    font-size: 1.5rem;
}

.star {
    color: #ff4c4c;
}

/* Ajuste da imagem do usu치rio */
.depoimentos img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ff4c4c;
}

/* Nome do usu치rio */
.depoimentos p.mb-0 {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

/* Estilo para os cards dos depoimentos */
.card-depoimentos {
    background-color: #222;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo para o carrossel */
.carousel-inner {
    padding: 20px 0;
}

/* Adapta칞칚o responsiva */
@media (max-width: 768px) {
    .depoimentos h2 {
        font-size: 2rem;
    }

    .depoimento-text {
        font-size: 1rem;
    }

    .depoimentos img {
        width: 50px;
        height: 50px;
    }

    .stars {
        font-size: 1.2rem;
    }
}



/* Estilo para a se칞칚o da newsletter */
.newsletter-section {
    background-color: #00345e;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90;

}

.newsletter-box {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 90;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    background-color: #ffffff;

}

/* T칤tulo e descri칞칚o */
.newsletter-box h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: 15px;
    background: linear-gradient(45deg, #ff0400, #ff3f34, #ff5350);
    background-clip: text;
    color: transparent;
    animation: gradient 3s ease infinite;
}

.newsletter-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 30px;
    color: #000000;
}

@keyframes gradient {
    0% {
        background-position: 200% 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 200% 0;
    }
}

/* Formul치rio */
.form-control {
    border-radius: 10px;
    padding: 15px;
    font-size: 1rem;
    transition: all 0.3s ease;
    border: 2px solid #ff0400;
    background-color: #fff;
}

.form-control:focus {
    border-color: #ff0400;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.7);
}

button.btn-newsletter {
    background-color: #ff0400;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button.btn-newsletter:hover {
    background-color: #ff0400;
    transform: translateY(-5px);  /* Efeito de eleva칞칚o do bot칚o */
}

button.btn-newsletter:focus {
    outline: none;
}

/* Efeito de hover no 칤cone e bot칚o */
.newsletter-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}





#rocketIcon{
    position: fixed;
    bottom: 200px;
    right: 15px;
    z-index: 99;
    background: #7e31ff;
    background: linear-gradient(to right, #ff3131, #ff6b6b);
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 25px;
    height: 25px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    animation: effect 5s infinite ease-in;
    margin-top: 160px;
}

#rocketIcon:hover {
    background: #690eff;
    background: linear-gradient(to right, #ff0202, #ff6b6b);
    color: white;

}



#whatsapp-button {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 99;
    background: #7e31ff;
    background: linear-gradient(to right, #ff3131, #ff6b6b);
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    animation: effect 5s infinite ease-in;
    margin-top: 160px;
}

#whatsapp-button:hover {
    background: #690eff;
    background: linear-gradient(to right, #ff0202, #ff6b6b);
    color: white;

}

/*parte dos franqueados*/
.banner-franqueado{
    background:url('/arquivos/banner/3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0;
}
.banner-suporte{
    background:url('/arquivos/banner/3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0;
}


/* resultados */
.why-choose-us {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
  }

  .section-title {
    font-size: 48px;
    font-weight: 700;
    color: #002f6c; /* Cor azul Wizard */
    text-align: center;
    margin-bottom: 40px;
  }

  .stat-box {
    background: linear-gradient(135deg, #002f6c 0%, #0056b3 100%);
    color: white;
    border-radius: 12px;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }

  .stat-box:hover {
    transform: translateY(-5px);
  }

  .percentage {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .stat-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .faq-section {
    margin-top: 40px;
  }

  .faq-title {
    font-size: 36px;
    color: #002f6c;
    font-weight: 700;
  }

  .faq-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #e63946;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #d62839;
  }


/* end resultados */

.logo-pagamento {

    display: flex;
    flex-direction: row;
    object-fit: cover; /* Isso faz a imagem preencher o espa每 sem distorcer */
    padding: 2px;



}
