*{
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Certifique-se de que a fonte está carregada */

}

body{
    font-size: 14pt;
    overflow-x: hidden;
}

/* about */
#vm-destaque-one{
    background-color: #00345e;
    color: #fff;
}

#vm-destaque-one .row {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente */
}

#vm-destaque-one .col-md-6 {
    display: flex;
    align-items: center; /* Alinha o conteúdo da coluna ao centro */
    justify-content: center; /* Centraliza o conteúdo */
}
/*end about */


/* start - Banner */
.banner-section {
    background-image: url('/extra-images/banner-view1-1.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 90px);
}
.banner-content {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - 90px);
}
.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 200px;
}
.display-4{
    color: #ffffff;
    margin-top: 300px;
}
/*end -banner*/


/*start - missao*/
.missao {
    background-color: #fff;
    padding: 50px 0;
}

.missao-header {
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.missao-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.missao-card:hover {
    transform: translateY(-5px);
}

.missao-icon {
    color: #d11a2a; /* Vermelho */
}

.missao-icon i {
    color: inherit;
}

.missao-title {
    font-weight: bold;
    color: #000;
}

.missao-text {
    color: #333;
    flex-grow: 1;
}

/* Garante que todos os cards tenham o mesmo tamanho */
.row .col-12 {
    display: flex;
}

/*end - missao*/



/*depoimentos*/

/* Testimonial Slider */
.wm-testimonial-slider,
.wm-testimonial-slider-wrap,
.wm-testimonial-slider-wrap p,
.wm-testimonial-slider-wrap figure {
    float: left;
    width: 100%;
}

.wm-testimonial-slider-wrap p:before {
    content: '';
    position: absolute;
    left: 70px;
    bottom: -14px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid;
}

.wm-testimonial-slider-wrap p {
    font-size: 16px;
    color: #ffffff;
    padding: 41px 50px 46px 50px;
    margin-bottom: 26px;
    line-height: 30px;
    position: relative;
}

.wm-testimonial-slider-wrap figure {
    margin-bottom: 0px;
    padding: 0px 38px;
}

.wm-testimonial-thumb {
    float: left;
    width: 77px;
    margin: 0px 16px 0px 0px;
}

.wm-testimonial-slider {
    position: relative;
    margin-bottom: 40px;
}

.wm-testimonial-thumb img {
    border-radius: 100%;
}

.wm-testimonial-slider-wrap figure figcaption {
    padding: 12px 0px 0px 0px;
}

.wm-testimonial-slider-wrap:nth-child(even) {
    margin: 21px 33px 0px -33px;
}

.wm-testimonial-slider-wrap:nth-child(even) p {
    background-color: rgba(194, 76, 76, 0.8);
}

.wm-testimonial-slider-wrap:nth-child(even) figure figcaption {
    text-align: right;
}

.wm-testimonial-slider-wrap figure figcaption h5 {
    margin-bottom: 0px;
    font-weight: 400;
}

.wm-testimonial-slider-wrap:nth-child(even) p:before {
    border-top-color: #ceb591;
    left: auto;
    right: 70px;
}

.wm-testimonial-slider-wrap:nth-child(even) .wm-testimonial-thumb {
    float: right;
    margin: 0px 0px 0px 16px;
}

.wm-testimonial-slider .slick-arrow {
    font-size: 16px;
    top: 50%;
    margin-top: -60px;
}

.wm-testimonial-slider .slick-arrow.slick-arrow-left {
    left: -74px;
}

.wm-testimonial-slider .slick-arrow.slick-arrow-right {
    right: -50px;
}

.wm-fancy-title{
    text-align: center;
    margin-bottom: 20px;
}
/*end depoimentos*/


/*area para estilização do curso */
.curso-container{
    background-image: url('/arquivos/imagens/banner-cursos.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 30vh);
}
/*area para estilização do curso */








/* area de resultados */
/* WhyChooseus List */
.whychooseus-list {
    float: left;
    width: 100%;
    margin: 33px 0px 0px 0px;
}

.whychooseus-list ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 60px;
}

.whychooseus-list ul li span {
    display: inline-block;
    font-size: 60px;
    padding-bottom: 16px;
    border-bottom: 3px dotted #dadada;
    margin-bottom: 17px;
    line-height: 1;
}

.whychooseus-list p {
    margin-bottom: 0px;
}

/* Questions Studying */
.wm-questions-studying {
    float: left;
    width: 100%;
    background-color: #ffffff;
    border: 16px solid #ffffff;
    border-bottom: none;
    box-shadow: 0px 0px 0px 3px #f7f7f7 inset;
    text-align: center;
    padding: 95px 37px 100px 37px;
    position: relative;
}

.wm-questions-studying img {
    position: absolute;
    left: 100%;
    top: -24px;
}

.wm-questions-studying h3 {
    margin-bottom: 21px;
}

.wm-questions-studying p {
    margin-bottom: 52px;
}

.wm-questions-studying .wm-banner-btn {
    padding: 9px 21px 9px;
}

/* Learn Listing */
.wm-learn-listing,
.wm-learn-listing figure,
.wm-learn-listing figure>a,
.wm-learn-listing figure img {
    float: left;
    width: 100%;
}

.wm-learn-listing ul li {
    list-style: none;
    margin-bottom: 30px;
}

.wm-learn-listing figure:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.40;
}

.wm-learn-listing figcaption {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: -10px 0px 0px 0px;
}

.wm-learn-listing figcaption h2 {
    color: #ffffff;
    margin-bottom: 13px;
}

.wm-learn-listing figcaption .wm-banner-btn {
    line-height: 1;
    opacity: 0;
}

.wm-learn-listing ul li:hover figcaption .wm-banner-btn {
    opacity: 1;
}

.wm-learn-listing ul li:hover figcaption {
    margin-top: -40px;
}

.wm-learn-listing ul li:hover figure:before {
    opacity: 0.90;
}

.wm-learn-listing figure {
    margin-bottom: 0px;
}

/* Latest Event */
.wm-simple-title {
    float: left;
    width: 100%;
    font-size: 50px;
    color: #c8c8c8;
    margin-bottom: 42px;
}

.wm-event-latest-slider {
    position: relative;
}

.wm-event-latest-slider,
.wm-event-latest-layer {
    float: left;
    width: 100%;
}

.wm-event-latest-slider {
    padding-bottom: 40px;
}

.wm-event-latest-layer {
    padding-bottom: 50px;
    border-bottom: 2px solid #eeeeee;
}

.wm-event-latest-slider h6 {
    margin-bottom: 21px;
    line-height: 30px;
}

.wm-event-latest-slider .wm-banner-btn {
    padding: 9px 26px 10px 26px;
}

.wm-event-latest-slider .slick-arrow {
    font-size: 16px;
    color: #262626;
    top: auto;
    bottom: 0px;
}

.wm-event-latest-slider .slick-arrow.slick-arrow-left {
    left: 50%;
    margin-left: -22px;
}

.wm-event-latest-slider .slick-arrow.slick-arrow-right {
    right: 50%;
    margin-right: -26px;
    bottom: 1px;
}

/* final da area de resultados */


/* newsllet*/
.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    margin-top: -20px;
    background-color: #00345e;
}

.newsletter-box {
    max-width: 500px;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-box h2 {
    color: #dc3545;
    margin-bottom: 10px;
}

.newsletter-box p {
    color: #6c757d;
    font-size: 16px;
}

.newsletter-box .form-label {
    font-weight: bold;
    color: #343a40;
}

.newsletter-box .form-control {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-newsletter {
    background-color: #dc3545;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    border: none;
}

.btn-newsletter:hover {
    background-color: #b02a37;
}
/* end news*/




/*start fotter section*/
.footer {
    background-color: #ffffff;
    padding: 40px 0;
}

.footer .social-icons a {
    font-size: 20px;
    color: #333;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: #007bff;
}

.footer .instructor-avatar {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #ddd;
}

/*end footer section*/
