/* Define um tamanho padrão de ícones baseado no viewport */
.fas {
    font-size: 5vh !important; /* Ajuste o tamanho conforme necessário */
    color: #00345e !important; /* Cor de ícones padrão */
    transition: color 0.3s ease, transform 0.3s ease !important; /* Transição suave */
    background-color: #ff5733;
    padding: 20px !important
}

/* Cor alternativa para ícones em destaque */
.fas.highlight {
    color: #ff5733 !important; /* Altere para a cor que desejar */
}

/* Efeito de hover para mudança de cor e animação */
.fas:hover {
    color: #00b8d4 !important; /* Cor de hover */
    transform: scale(1.2) !important; /* Aumenta o ícone ao passar o mouse */
}

/* Define tamanhos maiores para ícones específicos */
.fas.icon-lg {
    font-size: 8vh !important;
}

/* Define tamanhos pequenos para ícones específicos */
.fas.icon-sm {
    font-size: 4vh !important;
}

/* Estilos de ícones em cabeçalhos ou botões */
.fas.button-icon {
    font-size: 6vh !important;
    color: white !important; /* Cor de ícone branco para botões */
}

/* Estilos para ícones em links */
.fas.link-icon {
    color: #00345e !important; /* Cor inicial do ícone de link */
    transition: color 0.2s ease !important;
}

.fas.link-icon:hover {
    color: #ff5733 !important; /* Cor de hover para ícones de links */
}
