/* grendess */
@media (min-width: 601px) and (max-width: 700px) {
    .banner{
        display: none !important;
    }
    .navbar {
        display: flex;
        align-items: center; /* Garante alinhamento vertical */
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        margin-right: auto; /* Mantém a logo à esquerda */
        display: flex;
        align-items: center; /* Alinha verticalmente */
    }

    .navbar-brand img {
        height: 50px  !important; /* Ajuste conforme necessário */
        max-width: 100%  !important;
    }

    .navbar-toggler {
        margin-left: auto; /* Mantém o menu à direita */
        display: flex;
        align-items: center; /* Garante alinhamento */
    }
    .missao{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }

    .section-title{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }

}

/* tables */
@media (min-width: 401px) and (max-width: 600px) {
    .banner{
        display: none !important;
    }
    .navbar {
        display: flex;
        align-items: center; /* Garante alinhamento vertical */
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        margin-right: auto; /* Mantém a logo à esquerda */
        display: flex;
        align-items: center; /* Alinha verticalmente */
    }

    .navbar-brand img {
        height: 50px  !important; /* Ajuste conforme necessário */
        max-width: 100%  !important;
    }

    .navbar-toggler {
        margin-left: auto; /* Mantém o menu à direita */
        display: flex;
        align-items: center; /* Garante alinhamento */
    }


    /*cokkie*/
    .cookie-banner {
        padding: 10px;
    }

    .cookie-title {
        font-size: 18px;
    }

    .cookie-text {
        font-size: 14px;
    }

    .cookie-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .btn-accept, .btn-decline {
        font-size: 12px;
        padding: 8px 16px;
    }
    .missao{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }
    .section-title{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }

}

/* medios */
@media (min-width: 301px) and (max-width: 400px) {
    .banner{
        display: none !important;
    }
    .navbar {
        display: flex;
        align-items: center; /* Garante alinhamento vertical */
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        margin-right: auto; /* Mantém a logo à esquerda */
        display: flex;
        align-items: center; /* Alinha verticalmente */
    }

    .navbar-brand img {
        height: 50px  !important; /* Ajuste conforme necessário */
        max-width: 100%  !important;
    }
    .navbar-toggler {
        margin-left: auto; /* Mantém o menu à direita */
        display: flex;
        align-items: center; /* Garante alinhamento */
    }

    .missao{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }
    .section-title{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }
  }


/* muito pequenos */
@media (min-width: 50px) and (max-width: 300px)  {
    .banner{
        display: none !important;
    }
    .navbar {
        display: flex;
        align-items: center; /* Garante alinhamento vertical */
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        margin-right: auto; /* Mantém a logo à esquerda */
        display: flex;
        align-items: center; /* Alinha verticalmente */
    }

    .navbar-brand img {
        height: 50px  !important; /* Ajuste conforme necessário */
        max-width: 100%  !important;
    }

    .navbar-toggler {
        margin-left: auto; /* Mantém o menu à direita */
        display: flex;
        align-items: center; /* Garante alinhamento */
    }

    .missao{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }

    .section-title{
        white-space: normal; /* Permite que o texto quebre */
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Alternativa para quebra */
    }
}

