/* grendess */
@media (min-width: 601px) and (max-width: 700px) {
    .banner{
        display: none !important;
    }
}

/* tables */
@media (min-width: 401px) and (max-width: 600px) {
    .banner{
        display: none !important;
    }

    /*cokkie*/
    .cookie-banner {
        padding: 10px;
    }

    .cookie-title {
        font-size: 18px;
    }

    .cookie-text {
        font-size: 14px;
    }

    .cookie-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .btn-accept, .btn-decline {
        font-size: 12px;
        padding: 8px 16px;
    }

}

/* medios */
@media (min-width: 301px) and (max-width: 400px) {
    .banner{
        display: none !important;
    }
  }


/* muito pequenos */
@media (min-width: 50px) and (max-width: 300px)  {
    .banner{
        display: none !important;
    }
}

